.idea
.cproject
.project
*.sublime-*
CMakeFiles
Linux_x86_64
Linux_x86_64_debug
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing
cmake_install.cmake
CTestTestfile.cmake
ITKIOFactoryRegistration/
ctest_logs/
test_data
applications/cmd_line/src/svk_apodize
applications/cmd_line/src/svk_auto_phase
applications/cmd_line/src/svk_average_spec
applications/cmd_line/src/svk_combine_spec
applications/cmd_line/src/svk_dcmdump
applications/cmd_line/src/svk_extract_spec
applications/cmd_line/src/svk_fft
applications/cmd_line/src/svk_file_convert
applications/cmd_line/src/svk_gepfile_anon
applications/cmd_line/src/svk_gepfile_reader
applications/cmd_line/src/svk_hsvd
applications/cmd_line/src/svk_image_mathematics
applications/cmd_line/src/svk_image_pipeline
applications/cmd_line/src/svk_image_stats
applications/cmd_line/src/svk_image_threshold
applications/cmd_line/src/svk_integrate_dynamic
applications/cmd_line/src/svk_interpolate_spectra
applications/cmd_line/src/svk_lcmodel_reader
applications/cmd_line/src/svk_lcmodel_writer
applications/cmd_line/src/svk_met_kinetics
applications/cmd_line/src/svk_mrs_combine
applications/cmd_line/src/svk_multi_view
applications/cmd_line/src/svk_noise
applications/cmd_line/src/svk_peak_pick
applications/cmd_line/src/svk_phase_spec
applications/cmd_line/src/svk_point_selector
applications/cmd_line/src/svk_psd_prescription_convert
applications/cmd_line/src/svk_quantify
applications/cmd_line/src/svk_quick_view
applications/cmd_line/src/svk_reslice
applications/cmd_line/src/svk_scale_image
applications/cmd_line/src/svk_spec_diff
applications/cmd_line/src/svk_variable_flip_scaler
applications/cmd_line/src/svk_transform
applications/cmd_line/src/svk_volume_diff
applications/cmd_line/src/svk_zscore
applications/cmd_line/src/svk_reorder_epsi
applications/cmd_line/src/svk_zerofill
applications/sivic_app/src/SivicKWCallbacksLibInit.cxx
applications/sivic_app/src/vtkSivicControllerTcl.cxx
Build
LocalMake/
applications/scanner/GE_console/svk/
nbproject/private/launcher.properties
stash/
working/
cmake-build-debug/
cmake-build-release/
